<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softchan.pwd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".UI.LightDarkApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_pwd"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_pwd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".ScrollingActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainPWD -->
        <activity android:name="com.softchan.pwd.Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- AGREGAR -->
        <activity
            android:name="com.softchan.pwd.Actividades.Agregar"
            android:label="Agregar"
            android:parentActivityName=".Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- editar -->
        <activity
            android:name="com.softchan.pwd.Actividades.Editar"
            android:label="Editar"
            android:parentActivityName=".Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- welcome -->
        <activity
            android:name=".Actividades.WelcomeToApp"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- addCard -->
        <activity
            android:name=".Actividades.AddCard"
            android:label="Agregar Tarjeta"
            android:parentActivityName=".Actividades.Cards"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Cards -->
        <activity
            android:name=".Actividades.Cards"
            android:label="@string/tarjetas"
            android:parentActivityName=".Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- EditCards -->
        <activity
            android:name=".Actividades.EditarCards"
            android:label="Editar Tarjetas"
            android:parentActivityName=".Actividades.Cards"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Settings -->
        <activity
            android:name=".Actividades.Settings"
            android:label="Configuraciones"
            android:parentActivityName=".Actividades.Settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Actividades.SettingsActivity"
            android:label="Configuraciones"
            android:parentActivityName=".Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>