<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softchan.pwd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pwd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pwd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.softchan.pwd.Actividades.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Scrolling -->
        <activity
            android:name="com.softchan.pwd.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- MainPWD -->
        <activity android:name="com.softchan.pwd.Actividades.MainPWD"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- ListPwd -->
        <activity
            android:name="com.softchan.pwd.Actividades.ListPwd"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"></activity>

        <!-- AGREGAR -->
        <activity
            android:name="com.softchan.pwd.Actividades.Agregar"
            android:label="Agregar"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <!-- editar -->
        <activity
            android:name="com.softchan.pwd.Actividades.Editar"
            android:label="Editar"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <!-- Configuraciones -->

        <!-- ResBusqueda -->
    </application>

</manifest>